@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-main-bg: var(--theme-bg);
    --color-main-text: var(--theme-text);
    --color-main-header: var(--theme-header);
    --color-nav-menu: var(--theme-nav-menu);
    --color-nav-link-hover-text: var(--theme-nav-link-hover-text);
    --color-nav-link-hover-border: var(--theme-nav-link-hover-border);

    --color-dropdown-menu-bg: var(--theme-dropdown-menu-bg);
    --color-dropdown-menu-text: var(--theme-dropdown-menu-text);
    --color-dropdown-menu-border: var(--theme-dropdown-menu-border);
    --color-dropdown-menu-hover: var(--theme-dropdown-menu-hover);
    --color-dropdown-menu-text-destructive_act: var(--theme-dropdown-menu-text-destructive_act);
    --color-dropdown-menu-hover-destructive_act: var(--theme-dropdown-menu-hover-destructive_act);

    --color-form-label: var(--theme-form-label);
    --color-form-border: var(--theme-form-border);
    --color-form-focus: var(--theme-form-focus);

    --color-form-cancel-text: var(--theme-form-cancel-text);
    --color-form-cancel-bg: var(--theme-form-cancel-bg);
    --color-form-cancel-hover: var(--theme-form-cancel-hover);
    --color-accept-bg: var(--theme-accept-bg);
    --color-accept-hover: var(--theme-accept-hover);
    --color-txt-indicator-bg: var(--theme-txt-indicator-bg);
    --color-txt-indicator-border: var(--theme-txt-indicator-border);

    --color-car-card-bg: var(--theme-car-card-bg);
    --color-car-card-border: var(--theme-car-card-border);

    --color-v-actions-color: var(--theme-v-actions-color);

    --color-fuel-btn-bg: var(--theme-fuel-btn-bg);
    --color-fuel-btn-border: var(--theme-fuel-btn-border);
    --color-fuel-btn-text: var(--theme-fuel-btn-text);

    --color-edit-btn-bg: var(--theme-edit-btn-bg);
    --color-edit-btn-border: var(--theme-edit-btn-border);
    --color-edit-btn-text: var(--theme-edit-btn-text);

    --color-add-repair-btn-bg: var(--theme-add-repair-btn-bg);
    --color-add-repair-btn-border: var(--theme-add-repair-btn-border);
    --color-add-repair-btn-text: var(--theme-add-repair-btn-text);
    
    --color-car-ind-col-0: var(--theme-car-ind-col-0);
    --color-car-ind-txt-0: var(--theme-car-ind-txt-0);
    --color-car-ind-col-1: var(--theme-car-ind-col-1);
    --color-car-ind-txt-1: var(--theme-car-ind-txt-1);
    --color-car-ind-col-2: var(--theme-car-ind-col-2);
    --color-car-ind-txt-2: var(--theme-car-ind-txt-2);
    --color-car-ind-col-3: var(--theme-car-ind-col-3);
    --color-car-ind-txt-3: var(--theme-car-ind-txt-3);
    --color-car-ind-col-4: var(--theme-car-ind-col-4);
    --color-car-ind-txt-4: var(--theme-car-ind-txt-4);

    --color-refuel-modal-bg: var(--theme-refuel-modal-bg);
}

:root {
    --theme-bg: #f1efef;
    --theme-text: #1F1B1B;
    --theme-header: #227b50;
    --theme-nav-menu: #f1efef;
    --theme-nav-link-hover-text: #047857;
    --theme-nav-link-hover-border: #000000;

    /* dropdown_menus */
    --theme-dropdown-menu-bg: #ffffff;
    --theme-dropdown-menu-text: #454444;
    --theme-dropdown-menu-border: #e4e2e2;
    --theme-dropdown-menu-hover: #f3f4f6;
    --theme-dropdown-menu-text-destructive_act: #dc2626;
    --theme-dropdown-menu-hover-destructive_act: #fef2f2;

    /* forms */
    --theme-form-label: #374151;
    --theme-form-border: #d1d5db;
    --theme-form-focus: #10b981;
        /*change password buttons*/
        --theme-form-cancel-text: #171717;
        --theme-form-cancel-bg: #c9c9c9;
        --theme-form-cancel-hover: #aeaeb1;
        --theme-accept-bg: #23965f;
        --theme-accept-hover: #0c543f;
    
    /* car card */
    --theme-car-card-bg: #ffffff;
    --theme-car-card-border: #e5e7eb;

    /* text indicator */
    --theme-txt-indicator-bg: #f3f4f6;
    --theme-txt-indicator-border: #e5e7eb;

    /* vehicle actions */
    --theme-v-actions-color: #374151;
    --theme-fuel-btn-bg: #fff1f2;
    --theme-fuel-btn-border: #8c322e;
    --theme-fuel-btn-text: #8c322e;

    --theme-edit-btn-bg: #fff7ed;
    --theme-edit-btn-border: #a05228;
    --theme-edit-btn-text: #a05228;

    --theme-add-repair-btn-bg: #ecfdf5;
    --theme-add-repair-btn-border: #10b981;
    --theme-add-repair-btn-text: #047857;

    /* car indicators */
    --theme-car-ind-col-0: #4b5563;
    --theme-car-ind-txt-0: #dddddd;

    --theme-car-ind-col-1: #146c43;
    --theme-car-ind-txt-1: #1d995d;

    --theme-car-ind-col-2: #d7af41;
    --theme-car-ind-txt-2: #dbb856;

    --theme-car-ind-col-3: #b55c2c;
    --theme-car-ind-txt-3: #eb8d53;

    --theme-car-ind-col-4: #8c322e;
    --theme-car-ind-txt-4: #be5651;

    /* refuel modal */
    --theme-refuel-modal-bg: #ffffff;
}

.dark {
    --theme-bg: #1F1B1B;
    --theme-text: #f1efef;
    --theme-header: #2ea96e;
    --theme-nav-menu: #0D0C0C;
    --theme-nav-link-hover-text: #0d946e;
    --theme-nav-link-hover-border: #6b7280;

    /* dropdown_menus */
    --theme-dropdown-menu-bg: #424242;
    --theme-dropdown-menu-text: #d4d2d2;
    --theme-dropdown-menu-border: #575757;
    --theme-dropdown-menu-hover: #78787a;
    --theme-dropdown-menu-text-destructive_act: #e63737;
    --theme-dropdown-menu-hover-destructive_act: #686565;

    /* forms */
    --theme-form-label: #c9c9c9;
    --theme-form-border: #b1b1b5;
    --theme-form-focus: #18d69a;

    /*change password buttons*/
        --theme-form-cancel-text: #b7babe;
        --theme-form-cancel-bg: #6a6a6a;
        --theme-form-cancel-hover: #636364;
        --theme-accept-bg: #27925e;
        --theme-accept-hover: #16a746;
    
    /* text indicator */
    --theme-txt-indicator-bg: #464748;
    --theme-txt-indicator-border: #1F1B1B;

    /* car card */
    --theme-car-card-bg: #454343;
    --theme-car-card-border: #1F1B1B;

    /* vehicle actions */
    --theme-v-actions-color: #ffffff;
    --theme-fuel-btn-bg: #f4c9cb;
    --theme-fuel-btn-border: #cc4c45;
    --theme-fuel-btn-text: #b74039;

    --theme-edit-btn-bg: #f4dab9;
    --theme-edit-btn-border: #b85e2d;
    --theme-edit-btn-text: #bd6130;

    --theme-add-repair-btn-bg: #beebd6;
    --theme-add-repair-btn-border: #1ed598;
    --theme-add-repair-btn-text: #09966e;

    /* car indicators */
    --theme-car-ind-col-0: #eaeaea;
    --theme-car-ind-txt-0: #dddddd;

    --theme-car-ind-col-1: #23ad6a;
    --theme-car-ind-txt-1: #1d995d;

    --theme-car-ind-col-2: #dbb856;
    --theme-car-ind-txt-2: #dbb856;

    --theme-car-ind-col-3: #f39a64;
    --theme-car-ind-txt-3: #eb8d53;

    --theme-car-ind-col-4: #d2645e;
    --theme-car-ind-txt-4: #be5651;

    /* refuel modal */
    --theme-refuel-modal-bg: #453f3f;

}

.car-svg-container svg {
    width: 100% !important;
    height: 100% !important;
}

body, nav, header, div, button, input {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}